[submodule "VeryCoolEngine/vendor/spdlog"]
	path = VeryCoolEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "VeryCoolEngine/vendor/GLFW"]
	path = VeryCoolEngine/vendor/GLFW
	url = https://github.com/tomosh22/glfwPremake
[submodule "VeryCoolEngine/vendor/imgui"]
	path = VeryCoolEngine/vendor/imgui
	url = https://github.com/tomosh22/imguiPremake
[submodule "VeryCoolEngine/vendor/glm"]
	path = VeryCoolEngine/vendor/glm
	url = https://github.com/g-truc/glm
